.header2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
}

.title1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #585858;
    font-weight: bold;
}

.title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #5882FA;
}

.galleria {
    width: 700px;
    height: 400px;
    background: #000
}

.galleria-stage {
    height: 450px;
    height: 450px;
    position: absolute;
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    overflow: hidden;
}

.logindiv {
    width: 220px;
    height: 400px;
    background-color: #FFFFFF;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #336699;
}

.testdiv {
    background-color: #336699;
    border: 2px solid #336699;
    height: 50px;
}

.userdiv {
    border: 1px solid #bcc6cc;
    height: 60px;
    margin-top: 2px;
}
